.selector {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.btn_nova-tarefa {

    background-color: green;
    border-radius: 5px;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

li {
    border-radius: 3px;
    display: flex;
    gap: 5px;
    justify-content: center;
    justify-content: space-evenly;
    background-color:  #000f1a;
    color: black;
    font-weight: bold;
    justify-content: space-between
}

.Check_Concluidas {
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: #61DAFB;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    border-color: green;

}

.Check_Pendentes {
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color:  #61DAFB;
    border-radius: 50px;
    color: black;
    border-color: yellow;
}
.Check_todas {
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color:  #61DAFB;
    border-radius: 50px;
    color: black;
}